@font-face {
  font-family: "Advent Pro ExtraExpanded";
  src: url(../fonts/AdventPro/AdventPro_ExtraExpanded-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Drakkar";
  src: url(../fonts/Drakkar\ Regular.otf);
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
::selection {
  background-color: black;
  color: white;
}

/* Загальні стилі для виділеного тексту для IE */
::-moz-selection {
  background-color: black;
  color: white;
}

body {
  font-family: "Advent Pro ExtraExpanded";
  font-style: normal;
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
  color: #fff;
  background: url(../images/leraImages/AGED_PAPER\ 1.png) no-repeat center;
  background-size: cover;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

#modal-content {
  background: #fff;
  padding: 20px;
  text-align: center;
}
#modal-image {
  width: 5vw;
}
#modal-title {
  color: black;
}
#modal-text {
  color: black;
}
#close-btn {
  cursor: pointer;
  color: #333;
}

.map-container {
  margin-top: 64px;
  max-height: 100%;
  display: flex;
  justify-content: center;
}
.map-container svg {
  width: 65%;
}
.map-container svg :not(.river) {
  filter: brightness(75%);
  stroke-width: 4px;
}
.map-container svg :not(.river):hover {
  /* 
  filter: brightness(175%);
  transition: 0.2s ease-out; */
  cursor: pointer;
  -webkit-animation: rotateGradient 5s infinite;
  stroke: url(#linear);
  animation: rotateGradient 5s linear forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  stroke-width: 4px;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
@keyframes rotateGradient {
  0% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear1);
  }
  2.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear2);
  }
  5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear3);
  }
  7.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear4);
  }
  10% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear5);
  }
  12.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear6);
  }
  15% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear7);
  }
  17.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear8);
  }
  20% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear9);
  }
  22.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear10);
  }
  25% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear11);
  }
  27.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear12);
  }
  30% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear13);
  }
  32.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear14);
  }
  35% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear15);
  }
  37.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear16);
  }
  40% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear17);
  }
  42.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear18);
  }
  45% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear19);
  }
  47.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear);
  }
  50% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear1);
  }
  52.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear2);
  }
  55% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear3);
  }
  57.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear4);
  }
  60% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear5);
  }
  62.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear6);
  }
  65% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear7);
  }
  67.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear8);
  }
  70% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear9);
  }
  72.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear10);
  }
  75% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear11);
  }
  77.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear12);
  }
  80% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear13);
  }
  82.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear14);
  }
  85% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear15);
  }
  87.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear16);
  }
  90% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear17);
  }
  92.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear18);
  }
  95% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear19);
  }
  97.5% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear);
  }
  100% {
    -webkit-filter: brightness(175%);
    filter: brightness(175%);
    stroke: url(#linear1);
  }
}
