@font-face {
  font-family: "Advent Pro ExtraExpanded";
  src: url(../fonts/AdventPro/AdventPro_ExtraExpanded-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Drakkar";
  src: url(../fonts/Drakkar\ Regular.otf);
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Advent Pro ExtraExpanded";
  font-style: normal;
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
  color: #fff;
}

/* Intro styles start */

.intro {
  height: 800px;
  background: url(../images/leraImages/kingdom-about.png) no-repeat center;
  background-size: cover;
  margin-top: 77px;
}

/* Intro styles end */

.main {
  height: 3738px;
  width: 100%;
  background: url("../images/leraImages/AGED_PAPER\ 2.png");
}

.content__title {
  color: #0a0775;
  text-align: center;
  font-family: "Drakkar";
  font-size: 48px;
  padding-top: 87px;
}
